# PredictIQ Environment Configuration

# Database (Supabase IPv4 Pooler)
DATABASE_URL=postgresql://postgres.juvpwwvyakldziwxltkm:PredictIQ2026@aws-0-ap-south-1.pooler.supabase.com:6543/postgres

# Supabase Configuration
SUPABASE_PROJECT_ID=juvpwwvyakldziwxltkm
SUPABASE_URL=https://juvpwwvyakldziwxltkm.supabase.co
SUPABASE_REST_URL=https://juvpwwvyakldziwxltkm.supabase.co/rest/v1
VITE_SUPABASE_REST_URL=https://juvpwwvyakldziwxltkm.supabase.co/rest/v1
SUPABASE_ANON_KEY=sb_publishable_GfETX2bGiMhMHcvYX5QIMg_pmsGlwg_
SUPABASE_PUBLISHABLE_KEY=sb_publishable_GfETX2bGiMhMHcvYX5QIMg_pmsGlwg_
VITE_SUPABASE_URL=https://juvpwwvyakldziwxltkm.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_GfETX2bGiMhMHcvYX5QIMg_pmsGlwg_

# Security & JWT
SECRET_KEY=predictiq-super-secret-production-key-2026

# Server Port
PORT=8000
HOST=127.0.0.1
VITE_API_URL=http://127.0.0.1:8000

# Firebase Authentication Configuration (predictiq-77)
VITE_FIREBASE_API_KEY=AIzaSyCzKKdfJCP-wlIEwvRVKJ3q0W_v2IjXTHE
VITE_FIREBASE_AUTH_DOMAIN=predictiq-77.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=predictiq-77
VITE_FIREBASE_STORAGE_BUCKET=predictiq-77.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=324447986736
VITE_FIREBASE_APP_ID=1:324447986736:web:e5b74167cac5bb0f2239f5
VITE_FIREBASE_MEASUREMENT_ID=G-MHY2C4W388
FIREBASE_PROJECT_ID=predictiq-77

# SMTP Email Configuration (For delivering 6-digit codes to Gmail/inbox)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=predictiqfoodmanagement@gmail.com
SMTP_PASSWORD=slfr ywbj lulq zzuy
EMAILS_FROM_EMAIL=predictiqfoodmanagement@gmail.com
